body {
    font-family: segoe script;
    background-color: green;
    margin-top: 75px;
}

.center {
    text-align: center;
    font-weight:bold;
    font-size: 200%;

}
.h4 {
	font-family: calibri;
	font-weight: bold;
	font-size: 100%;
}

.img-medium {
    height: 200px;
}

