body {
  font-family: impact;
    background-color: blue;
    margin-top: 75px;
}

.center {
     
    text-align: center;
    font-weight: lighter;
    font-size: 200%;

}
.h1 {
	
	font-weight: bold;
	font-size: 100%;
}

.img-medium {
    height: 200px;
}

