body {
  
    background-color: green;
    margin-top: 75px;
}

.center {
     font-family: segoe script;
    text-align: center;
    font-weight:bold;
    font-size: 200%;

}
.h1 {
	font-family: calibri;
	font-weight: bold;
	font-size: 100%;
}

.img-medium {
    height: 200px;
}

